.greenbackground {
    background-color: rgb(190, 220, 200);
}

.titleItalic {
    font-weight: 1000;
    font-size: 1cm;
    font-style: italic;
}

.aboutImage {
    position: relative;
    padding-left: 95px;
}

.customP {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.contactColors {
    color: rgb(130, 46, 139);
}

ol {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-decoration: none;
}